.videoCard {
    width: 270px;
    margin-bottom: 40px;
}

.videoCard_thumbnail {
    height: 140px;
    width: 250px;
}

.video_info {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
}

.video_text {
    margin-left: 15px;
}

.video_text>h4 {
    font-size: 14px;
    margin-top: 0px;
}

.video_text>p {
    font-size: 14px;
    color: gray;
}

.videoCard_avatar {
    /* width: 30px !important;
    height: 30px !important; */
}